@import "./src/styles/utility";

.service-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: rem(8px);
  padding: rem(24px) 0 rem(24px) rem(24px) ;
  box-shadow: 0 2px 6px 1px rgba(113,140,159,0.20);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 200px;
  transform: scale(1);
  transition: transform .3s, box-shadow .3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 10px 1px rgba(113,140,159,0.20);
    h3 {
      color: $brand-orange;
    }
  }
  h3 {
    font-size: rem(32px);
    letter-spacing: rem(1px);
    margin-bottom: rem(8px);
    transition: .3s;
  }
  .service-sub {
    color: #818181;
    letter-spacing: rem(0.44px);
    line-height: rem(24px);
    margin-bottom: 8px;
  }
  & > img {
    width: 155px;
  }
}
