@import "./src/styles/utility";

.collection {
  .bgShape1 {
    max-height: 630px;
    width: auto;
  }
  section {
    margin: 0 auto;
    &.first {
      width: 100%;
      max-width: $eight-columns;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: rem(80px);
      padding-bottom: rem(115px);
      h1 {
        margin-bottom: rem(32px);
      }
    }
    &.projects-main {
      width: 100%;
      max-width: $ten-columns;
      margin-left: auto;
      margin-right: auto;
    }
    &.projects-secondary {
      width: 100%;
      max-width: $base-content-width;
      margin-top: rem(32px);
    }
    &.start-project {
      margin-top: rem(56px);
      width: 100%;
      max-width: $eight-columns;
      margin-left: auto;
      margin-right: auto;
      .sub {
        font-weight: 600;
        color: rgba($pseudo-black, .7);
        letter-spacing: rem(1.12px);
        line-height: rem(23px);
        text-transform: uppercase;
        margin-bottom: rem(8px);
      }
    }
  }
}
