@import "./src/styles/utility";

.content {
  @extend .wrapper;
}

.bgShape {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-height: 630px;
  width: auto;
}

.bgShape2 {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: -1;
}
.bgShape3 {
  position: absolute;
  left: 0;
  top: 65%;
  z-index: -1;
}
.bgShape4 {
  position: absolute;
  right: 0;
  top: 70%;
  z-index: -1;
}

.first {
  text-align: center;
  min-height: calc(80vh - #{$header-height_d});
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    margin-bottom: rem(24px);
    line-height: 1.5;
    span {
      display: block;
      color: $brand-orange;
    }
  }
}
.pageNav {
  display: flex;
  justify-content: center;
  & > div {
    width: 100%;
    max-width: $eight-columns;
    display: flex;
    justify-content: space-between;
    a {
      margin: 0 20px;
      text-transform: uppercase;
      font-size: rem(16px);
      color: #6e6e6e;
      letter-spacing: rem(0.44px);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.development {
  margin-top: rem(144px);
}

.section {
  margin-bottom: rem(56px);
  h3 {
    text-transform: capitalize;
  }
  img {
    margin: rem(16px) 0;
  }
}

.serviceDescription {
  width: 100%;
  max-width: $eight-columns;
  margin-bottom: rem(32px);
  font-size: rem(16px);
  color: #818181;
  line-height: rem(24px);
}

.servicePoints {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: rem(24px) rem(24px);
}

.servicePointTitle {
  position: relative;
  padding-left: rem(16px);
  letter-spacing: rem(0.67px);
  text-transform: uppercase;
  margin: 0 auto rem(8px);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - #{rem(4px)});
    height: rem(8px);
    width: rem(8px);
    border-radius: 50%;
    background-color: $brand-blue;
  }
}

.servicePointDescription {
  font-size: rem(16px);
  color: #818181;
  line-height: 1.5;
}

.contact {
  width: 100%;
  max-width: $eight-columns;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(56px);
  h2 {
    margin-bottom: rem(32px);
  }
}

.sub {
  font-weight: 600;
  color: rgba($pseudo-black, .7);
  letter-spacing: rem(1.12px);
  line-height: rem(23px);
  text-transform: uppercase;
  margin-bottom: rem(8px);
}
