@use "sass:math";

$baseFontSize: 18px;

//grid sizes
$base-content-width: 1440px;
$gutter-width: 1.6667%; //24px
$column-width: 6.8056%; // 98px

$media-tablet-max: 1024px;
$media-mobile-max: 768px;
$media-mobile-median: 591px;

$four-columns: $column-width * 4 + $gutter-width * 3;
$six-columns: $column-width * 6 + $gutter-width * 5;
$eight-columns: $column-width * 8 + $gutter-width * 7;
$ten-columns: $column-width * 10 + $gutter-width * 9;

$header-height_d: 70px;

//colors
$pseudo-black: #303030;
$brand-blue:   #3175F2;
$brand-orange: #FFC900;

$mid-grey:     #757575;

$color-error:  #D02F2F;

@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}
@function rem($pxValue) {
  $val: math.div(stripUnit($pxValue), stripUnit($baseFontSize));
  @return #{$val}rem;
}

.wrapper {
  width: 100%;
  max-width: $base-content-width;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $base-content-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
