@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
// font-family: 'Source Sans Pro', sans-serif;

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../assets/fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../assets/fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('../assets/fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('../assets/fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
