@import "fonts";
@import "reset";
@import "utility";

html {
  font-size: $baseFontSize;
}
body {
  background-image: radial-gradient(circle, #f0f0f0 1.5px, #ffffff 0);
  background-size: 47px 47px;
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  color: $pseudo-black;
  letter-spacing: .5px;
}
