@import "typographics";
@import "reset";
@import "utility";

html {
  font-size: $baseFontSize;
}
body {
  position: relative;
  background-image: radial-gradient(circle, #f0f0f0 1.5px, #ffffff 0);
  background-size: 47px 47px;
  font-family: 'Source Sans Pro', 'Roboto', sans-serif;
  color: $pseudo-black;
  letter-spacing: .5px;
}

#root {
  & > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & > div {
      flex: 1;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  padding-left: rem(10px);
  padding-right: rem(10px);
  margin-left: auto;
  margin-right: auto;
}
