@import "./src/styles/utility";

.contact-form-wrap {
  padding-top: rem(80px);
  width: 100%;
  max-width: $base-content-width;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  .left {
    width: $column-width * 4 + $gutter-width * 3;
    margin-right: $gutter-width;
    p {
      margin-top: rem(8px);
    }
  }
  & > form {
    padding-top: rem(80px);
    flex: 1;
    .drop-file-input {
      margin-bottom: rem(32px);
    }
  }
}
