@import "./src/styles/utility";

.content {
  @extend .wrapper;
}

.bgBigTriangleLeftShape {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20vh;
}

.wrap {
  padding-top: rem(80px);
  width: 100%;
  max-width: $base-content-width;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  & > form {
    padding-top: rem(80px);
    flex: 1;
  }
}
.left {
  width: $four-columns;
  margin-right: $gutter-width;
  p {
    margin-top: rem(8px);
  }
}

@media screen and (max-width: $media-mobile-max){
  .wrap {
    flex-direction: column;
    & > form {
      padding-top: rem(36px);
      flex: 1;
    }
  }
  .left {
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    p {
      padding: 0 rem(24px);
    }
  }
}
