@import "./src/styles/utility";

.bgShape1 {
  top: 0;
  left: 0;
}

.home-page {
  section {
    margin: 0 auto;
    h2 {
      margin-bottom: rem(8px);
    }
    p {
      letter-spacing: rem(.5px);
      line-height: rem(24px);
    }
    .sub {
      font-weight: 600;
      color: rgba($pseudo-black, .7);
      letter-spacing: rem(1.12px);
      line-height: rem(23px);
      text-transform: uppercase;
    }
    &.first {
      width: 100%;
      max-width: 1440px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: rem(810px);
      .button {
        margin-top: rem(24px);
      }
    }
    &.about {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: $base-content-width - $column-width * 2;
      padding-top: rem(40px);
      p {
        margin-bottom: .7rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .text-block {
        margin-right: $column-width + $gutter-width;
      }
      .upwork-block {
        width: 100%;
        max-width: ($column-width + $gutter-width) * 4;
        position: relative;
        margin-top: 1rem;
        h3 {
          display: flex;
          align-items: center;
          margin-bottom: rem(11px);
        }
        .external-link {
          margin-top: 0.2rem;
        }
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: rem(40px);
          background-color: #F2F9FF;
          left: rem(24px);
          top: rem(39px);
          z-index: -1;
        }
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .stats {
          .amount {
            font-weight: 600;
            letter-spacing: rem(0.78px);
            font-size: rem(28px);
            line-height: rem(40px);
            color: #484848;
          }
          .legend {
            letter-spacing: rem(.5px);
            color: #707070;
            line-height: rem(40px);
          }
        }
        .badge {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            margin-bottom: rem(4px);
          }
          span {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: rem(.5px);
            color: #656565;
            line-height: rem(20px);
          }
        }
      }
    }
    &.capabilities {
      position: relative;
      margin-top: rem(120px);
      max-width: $base-content-width + 40px;
      padding-left: rem(40px);
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: - rem(40px);
        width: $column-width * 8 + $gutter-width * 9;
        height: 90%;
        background-color: #F4F4F4;
        border-radius: rem(40px);
        z-index: -1;
      }
      h2 {
        margin-bottom: rem(24px);
      }
      .services {
        width: $ten-columns;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: auto;
        margin-top: rem(-15px);
        & > div {
          width: calc(50% - #{$gutter-width} / 2);
          margin-bottom: $gutter-width;
          &:nth-last-child(-n+2) {
            margin-bottom: 0;
          }
        }
      }
    }
    &.work {
      margin-top: rem(80px);
      padding-bottom: rem(56px);
      .text-block {
        width: 100%;
        max-width: $column-width * 7 + $gutter-width * 8;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        h2 {
          margin-bottom: rem(24px);
        }
        .sub {
          align-self: flex-start;
          padding-left: .4rem;
        }
        p {
          text-align: center;
          width: 100%;
          max-width: $column-width * 6 + $gutter-width * 6;
        }
      }
      & > h3 {
        text-align: center;
        margin-top: rem(48px);
        margin-bottom: rem(32px);
      }
      .selected-projects {
        width: 100%;
        max-width: $base-content-width - $column-width * 4 - $gutter-width * 4;
        margin-left: auto;
        margin-right: auto;
      }
      .explore-more {
        margin-top: rem(40px);
        text-align: center;
        h3 {
          margin-bottom: rem(16px);
        }
        p {
          width: 100%;
          max-width: $column-width * 6 + $gutter-width * 5;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: rem(32px);
        }
      }
    }
    &.contact {
      width: 100%;
      max-width: $column-width * 6 + $gutter-width * 5;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      p {
        margin-bottom: rem(24px);
      }
    }
  }

}

footer {
  margin-top: rem(56px);
}
