@import "./src/styles/utility";

nav {
  a {
    font-size: rem(16px);
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
  }
  &.horizontal {
    a {
      margin: 0 rem(15px);
      height: 50px;
      line-height: 50px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.vertical {
    display: flex;
    flex-direction: column;
    &.left {
      align-items: flex-start;
    }
    &.center {
      align-items: center;
    }
    &.right {
      align-items: flex-end;
    }
    a {
      margin-bottom: rem(8px);
      line-height: rem(20px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
