@import "./src/styles/utility";

form.contact-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .half-width {
    width: calc(50% - #{$gutter-width / 2});
  }
  .full-width {
    width: 100%;
  }
  .full-width.legend-holder {
    line-height: 1em;
  }
  .legend {
    display: inline-block;
    font-weight: 600;
    font-size: rem(14px);
    text-transform: uppercase;
    letter-spacing: rem(1.5px);
    margin-bottom: rem(8px);
  }
  .checkbox-area {
    margin-bottom: rem(16px);
  }
}
