@import "./src/styles/utility";
@import "../button";

.bigBlueButton {
  @extend .button;
  position: relative;
  background-image: linear-gradient(-45deg, #3779f4 0%, #1961e9 100%);
  border-radius: rem(52px / 2);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  height: rem(52px);
  padding-left: rem(32px);
  padding-right: rem(32px);
  transition: .3s;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    border-radius: rem(3px);
  }
  &:active {
    background-image: linear-gradient(-45deg, #1961e9 0%, #1961e9 100%);
  }
}
