@import "./src/styles/utility";

.text-input {
  padding-bottom: rem(32px);
  &.invalid {
    padding-bottom: rem(9px);
    textarea {
      border-color: $color-error;
      box-shadow: 0 0 0 1px $color-error;
    }
  }
  label {
    font-weight: 600;
    font-size: rem(14px);
    text-transform: uppercase;
    letter-spacing: rem(1.5px);
    margin-bottom: rem(8px);
  }
  textarea {
    display: block;
    width: 100%;
    min-height: rem(150px);
    background: #FFFFFF;
    border: 1px solid #D9DFE5;
    border-radius: rem(5px);
    padding: rem(10px) rem(15px);
    letter-spacing: rem(0.56px);
    transition: .3s;
    box-shadow: 0 0 0 0 $brand-blue;
    outline: none;
    resize: vertical;
    &::placeholder {
      color: #B7BBC0;
    }
    &:hover {
      border: 1px solid #c2c9d0;
    }
    &:active:not(.invalid),
    &:focus:not(.invalid),
    &:focus-visible:not(.invalid) {
      border-color: $brand-blue;
      box-shadow: 0 0 0 1px $brand-blue;
    }
  }
  .error-msg {
    font-size: rem(14px);
    color: $color-error;
    letter-spacing: rem(1.5px);
  }
}
