@import "./src/styles/utility";

.drop-file-input {
  width: 100%;
  .dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: rem(16px);
    background-color: #F8FAFC;
    border: 1px solid #D9DFE5;
    border-radius: rem(5px);
    transition: background-color .3s;
    cursor: pointer;
    svg {
      transition: fill .3s;
    }
    &:hover {
      background-color: darken(#F8FAFC, 3%);
      svg {
        fill: $brand-blue;
      }
    }
    .label {
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        text-transform: uppercase;
        margin-top: rem(10px);
        font-weight: 600;
        font-size: rem(14px);
        color: #818181;
        letter-spacing: rem(1.5pxv);
      }
    }
  }
}
